<ion-tabs>

  <ion-tab-bar ion-button color="dark" round outline slot="bottom">
    <ion-tab-button tab="planets">
      <ion-icon name="planet-outline"></ion-icon>
      <ion-label>PLANETS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="people">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>PEOPLE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="starships">
      <ion-icon name="rocket"></ion-icon>
      <ion-label>STARSHIPS</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
